.profile{
    border: 2px solid red;
 
}
.Profile_cotainer{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
}

.Display_child_cont{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 20%;
    text-align: left;
    margin: auto;
    height: auto;

}
.Display_child_interset{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 20%;
    text-align: left;
    margin: auto;
    height: auto;

}