.Main_container {
  text-align: center;
  width: 100%;
  margin: auto;
  height: 100vh;
  display: grid;
  font-size: 25px;
  grid-template-columns: 350px auto auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "aside nav nav"
 "aside main main "
"footer footer footer"
}


nav{
  background-color: blue;
  color: white;
  border: 1px solid rgb(0, 42, 255);
  grid-area: nav;
  text-align: center;
  font-size: 25px;
  font-weight: bold;

  }

  main{
  
  border: 1px solid blue;
  grid-area: main;
  align-items: center;
  text-align: center;
  
  }
  footer{
  
  border: 1px solid blue;
  grid-area: footer;
  }
  


